discord.py==2.6.4
aiohttp==3.8.6
asqlite==2.0.0
colorama==0.4.6
opencv-python==4.9.0.80
Pillow==10.3.0
mltu==1.2.5
numpy==1.22.0
torch==2.1.0
docopt==0.6.2
selenium==4.15.2
undetected-chromedriver==3.5.4
beautifulsoup4==4.11.2
youtube_search==2.1.2
pytube==15.0.0